################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/net5.0
/obj
/bin/Debug/net5.0
/.vs/ProjectEvaluation
/.vs/CSharpCompleto/v17
/.vs/CSharpCompleto/FileContentIndex
/.vs/CSharpCompleto/DesignTimeBuild
